beautifulsoup4==4.3.2
closure==20121212
cssmin==0.2.0
Flask==0.10.1
Flask-Assets==0.9
gunicorn==18.0
itsdangerous==0.24
Jinja2==2.7.3
lxml==3.4.1
MarkupSafe==0.23
p7magma==0.1.1
pep8==1.5.7
requests==2.5.1
webassets==0.9
webassets-iife==0.1.0
Werkzeug==0.9.6
