{% extends "base.html" %}
{% block body %}
<h1>Magma 2</h1>

<form method="post" action="/logout">
  <input type="submit" class="btn btn-default" value="Déconnexion" />
</form>

<div ng-app="mg" ng-controller="mgCourses" id="courses-container">
  <h2>Cours</h2>

  <div ng-show="_courses.length">
  <fieldset>
        <label>
          <input type="checkbox" ng-model="followed_only" />
          Cours suivis uniquement
        </label>
  </fieldset>

  <table id="courses-list" class="table">
    <tr>
      <th ng-repeat="f in fields|filter:displayedField"
          data-field="_{ f.id }_">_{ f.label }_</th>
    </tr>
    <tr ng-repeat="c in courses()">
      <td ng-repeat="f in fields|filter:displayedField">
        _{ fmtField(f.fmt, c[f.id], c) }_
      </td>
    </tr>
  </table>
  </div>
  <div ng-hide="_courses.length">
    <p>Il n’y a pas de cours disponible. Vérifiez que vos identifiants sont
       corrects (ils doivent correspondre à ceux de Magma), et sinon signalez
       le problème à <span class="email">b@ptistefontaine.fr</span>.</p>
  </div>

</div>

<script type="x-json" id="courses-json">
{% if g.student is defined and g.student.courses is defined %}
  {{ g.student.courses|tojson|safe }}
{% else %}
  {% raw %}
  []
  {% endraw %}
{% endif %}
</script>
{% endblock %}
