{% extends "base.html" %}
{% block body %}
<h1>Magma 2</h1>

<form method="post" action="/logout">
  <input type="submit" class="btn btn-default" value="Déconnexion" />
</form>

<div ng-app="mg" ng-controller="mgCourses" id="courses-container">
  <h2>Cours</h2>

  <fieldset>
        <label>
          <input type="checkbox" ng-model="followed_only" />
          Cours suivis uniquement
        </label>
  </fieldset>

  <table id="courses-list" class="table">
    <tr>
      <th>Code</th>
      <th>Titre</th>
      <th>Semestre</th>
      <th>Statut</th>
      <th>ECTS</th>
      <th>Suivi&nbsp;?</th>
      <th>Résultat</th>
      <th>Session</th>
    </tr>
    <tr ng-repeat="c in courses()">
      <td>_{c.code}_</td>
      <td>_{c.title}_</td>
      <td>_{c.semester}_</td>
      <td>_{c.status}_</td>
      <td>_{c.ects}_</td>
      <td>_{c.followed ? "oui" : "non"}_</td>
      <td>_{c.session ? (c.result + "/20") : ""}_</td>
      <td>_{c.session}_</td>
    </tr>
  </table>

</div>

<script type="x-json" id="courses-json">
{% if g.student and g.student.courses %}
  {{ g.student.courses|tojson|safe }}
{% else %}
  {% raw %}
  []
  {% endraw %}
{% endif %}
</script>
{% endblock %}
